{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

 <form action="{{ path('login') }}" method="post">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first"></div>

            <!-- Login Form -->
            <form>
                <input type="text" id="username" class="fadeIn second" name="_username" placeholder="username" value="{{ last_username }}">
                <input type="text" id="password" class="fadeIn third" name="_password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
        </div>
    </div>

</form> 
{% endblock %}
