{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block body %}

	<h1 class="text-center mt-3 mb-4">Login</h1>

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="row justify-content-center">
		<form action="{{ path('login') }}" method="post" class="d-flex flex-column justify-content-center col-md-4">

			<input type="text" placeholder="Username" id="username" name="_username" value="{{ last_username }}" class="text-center"/>

			<input type="password" placeholder="Password" id="password" name="_password" class="mt-4 text-center"/>

			<button type="submit" class="btn btn-peche text-white mt-5">login</button>
		</form>
	</div>


{% endblock %}
