{% extends 'base.html.twig' %}

{% block title %}Relate | Student Profile
{% endblock %}

{% block body %}
	<h1>My Profile</h1>

	<div class="content">
		<img src="http://placehold.it/150x150" alt="">
		<h2>Prenom nom</h2>
		<span>Age</span>
		<span>Duo</span>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quasi ipsum mollitia! Maiores vero quod enim culpa laborum quidem ut, dolorem tempora repudiandae accusantium fuga recusandae rem eveniet suscipit quas!</p>
		<span>Sport</span>
		<span>Music</span>
		<p>otherhobbies</p>

		<button type="submit" class="btn btn-success">Edit</button>
	</div>

{% endblock %}