{% extends 'base.html.twig' %}

{% block title %}Relate | Student exchanges
{% endblock %}

{% block body %}

<div class="container relate-body">

		<h1 class=" text-center my-5">My exchanges</h1>

</div>

{% endblock %}