{% extends 'base.html.twig' %}

{% block title %}Teacher | Duodata
{% endblock %}

{% block body %}

	{% for students in classroomOne %}
		<div class="row">
			<h1 class="col-5 text-center my-4">{{ students.grade }}</h1>
		</div>

		<tr>
			<td class="card-center">
				{% for item in students.students %}
					<p>{{ item.lastname }}</p>
				{% endfor %}
			</td>

		</tr>
	{% endfor %}

	{% for students in classroomTwo %}
		<div class="row">
			<h1 class="col-5 text-center my-4">{{ students.grade }}</h1>
		</div>

		<tr>
			<td class="card-center">
				{% for item in students.students %}
					<p>{{ item.lastname }}</p>
				{% endfor %}
			</td>

		</tr>
	{% endfor %}


{% endblock %}
