{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}

<div class="col-12">
	<h1 class=" text-center my-5">My classrooms</h1>

	<div class="row justify-content-center">

		{% for classroom in myClassrooms.classrooms %}

			
		    <a href="{{ path('teacher_showclassroom', {'id': classroom.id }) }}" class="col-4 text-center d-flex justify-content-center align-items-center c-green mx-3">
				<div class="display-4 d-flex flex-column justify-content-center align-items-center border border-dark choice-h choice-w2 mb-4">
                    {{ classroom.classroomName }}
                    <i class="fas fa-users"></i>
            	</div>
			</a>

		{% endfor %}

		
		<a href="#" class="text-center d-flex justify-content-center align-items-center c-green mx-3">
			<div class="display-4 d-flex flex-column justify-content-center align-items-center border border-dark choice-h choice-w">
                Add a classroom
                <i class="fas fa-users"></i>
            </div>
		</a>

	</div>
</div>

	


{% endblock %}
