/* pêche #FDB884
vert #87D8A2
rouge #C35256
bleu #00C6CF
"taupe" (neutre) #BAA89B */

body
{
    font-family: 'Montserrat', sans-serif;
}

.row{ margin-left: 0; margin-right: 0;}

.bg-green
{
    background-color: #87D8A2;
}

.btn-peche
{
    background-color: #FDB884;
    text-align: center;
}



/* ------------------------------------------- Header ------------------------------------------- */

.relate-nav
{
    min-height: 15vh;
}

.log{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
}

.nav-link{
    padding-left: 10px!important;
}

/* ------------------------------------------- Body ------------------------------------------- */

.relate-body
{
    min-height: 70vh;
}
th a {
    display: block;
    text-decoration: none;
    color: black;
}

.card-button
{
    min-height: 20rem;
    width: 80%;
    margin: 5px;
    border-radius: 40px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    transition: 0.3s ease background-color;
}

.card-button:hover
{
    background-color: rgb(247, 247, 247);
}

/* ------------------------------------------- Footer ------------------------------------------- */

.relate-footer
{
    min-height: 15vh;
}