/* pêche #FDB884
vert #87D8A2
rouge #C35256
bleu #00C6CF
"taupe" (neutre) #BAA89B */

body
{font-family: 'Montserrat', sans-serif;}

.row{margin-left: 0; margin-right: 0;}

.bg-green{background-color: #87D8A2;}

.c-green{color: #87D8A2;}

.c-green:hover{color: #6ab884;}

.btn-peche
{
    background-color: #FDB884;
    text-align: center;
}



/* ------------------------------------------- Header ------------------------------------------- */

.relate-nav{min-height: 15vh;}

.relate-nav li > a:hover{
    color: #FDB884 !important;
}

.relate-nav li.active a:hover{
    color: #FDB884 !important;
}

.log{
    position: absolute;
    z-index: 2;
    top: 25px;
    right: 10px;
}

.nav-link{padding-left: 10px!important;}

/* ------------------------------------------- Body ------------------------------------------- */

.relate-body{min-height: 70vh;}

th a {
    display: block;
    text-decoration: none;
    color: black;
}

.choice-h{
    min-height: 40vh;
}

.choice-w2{
    min-width: 30vw;
}

.w-input{
    width:300px;
}

.peach-tab{
    background-color: #FDB884!important;
}
/* ------------------------------------------- Footer ------------------------------------------- */

.relate-footer{min-height: 15vh;}

/* ------------------------------------------- Login ------------------------------------------- */

.bold-600
{
    font-weight: 600;
}

.style-rounded
{
    border-radius: 30px;
}

.style-shadow
{
    box-shadow: 10px 10px 23px -2px rgba(0,0,0,0.21);
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

button:focus,
button:active,
/* button:hover, */
.btn:active,
.btn.active
{
    box-shadow: none !important;
}

.no-border
{
    border: none;
}

/* ------------------------------------------- Homepage ------------------------------------------- */

.main-card
{
    min-height: 300px;
}

.main-card:hover
{
    background-color: rgb(236, 236, 236);
}

/*-------------------------------------------- Image profile ------------------------------- */

.image_profile{
    max-width: 50%;
    max-height: auto;

}