{% extends 'base.html.twig' %}

{% block title %}Hello Admin !{% endblock %}

{% block body %}

<p>Coucou c'est nous </p>

{{ form_start(schoolForm) }}
<button type="submit" class="btn btn-dark">Send</button>

{{ form_end(schoolForm) }}

{% endblock %}