{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}

	<h1 class="d-flex justify-content-center display-4">Bienvenue sur le projet Relate</h1>
	<hr><br>



	<div class="row justify-content-center">

		<div class="col-5">
			<table class="table text-center table-hover table-bordered">

				<tr>
					<th class="display-4">
						<a href="#">
							Mes échanges<br><i class="fas fa-users"></i>
						</a>
					</th>
				</tr>
			</a>
		</th>
	</tr>
</table></div><div class="col-5">
<table class="table text-center table-hover table-bordered">

	<tr>
		<th class="display-4">
			<a href="#">
				Mon profil<br><i class="fas fa-user-circle"></i>
			</a>
		</th>
	</tr>


</table></div></div>
<br>

<div class="row justify-content-center"><div class="col-5">
<table class="table text-center table-hover table-bordered">

	<tr>
		<th class="display-4">
			<a href="#">
				Mon binôme<br><i class="fas fa-comment-dots"></i>
			</a>
		</th>
	</tr>

</table></div><div class="col-5">
<table class="table text-center table-hover table-bordered">

	<tr>
		<th class="display-4">
			<a href="#">
				Mon prof<br><i class="fas fa-question-circle"></i>
			</a>
		</th>
	</tr>

</table></div></div>
<br>
<hr>

{% endblock %}
