{% extends 'base.html.twig' %}

{% block title %}Admin | Schools
{% endblock %}

{% block body %}

	<div class="container relate-body">

		<h1 class=" text-center my-5">My schools</h1>


		<div class="row justify-content-center">

			{% for school in schools %}


				<a href="{{ path('school_infos', {'id': school.id }) }}" class="main-card col-10 col-md-5 mx-3 my-3 c-green d-flex align-items-center justify-content-center style-shadow style-rounded">
					<div class="display-4 responsiveblock d-flex flex-column justify-content-center align-items-center text-center">
						<p>School n°
							<strong>{{ school.id }}</strong>
						</p>
						<p>School Name :
							<strong>{{ school.schoolName }}</strong>
						</p>
						<i class="pt-2 fas fa-school"></i>
					</div>
				</a>

			{% endfor %}

			<a href="{{path('create_school')}}" class="main-card col-10 col-md-5 mx-3 my-3 c-green d-flex align-items-center justify-content-center style-shadow style-rounded">
				<div class="display-4 responsiveblock d-flex flex-column justify-content-center align-items-center text-center">
					Create new school
					<i class="fas fa-plus-circle"></i>
				</div>
			</a>

		</div>
	</div>

{% endblock %}
